body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.hr-star{
  background-color: black;
  height: 3px;
  width: 8.33%;
  top: 5px;
  position: relative;

}
h1{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 60px;
  color:white;
}
header{
  background-color:#2C3E50;
  position: fixed;
  width: 100%;
}
.menu, .botones{
    display: inline-flex;
}
.menu{
  width: 33.3333%;
  padding: 0px;
}
.botones{
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 66.333%;
  position: relative;
  padding: 0;
}
li{
display: inline-block;
padding: 20px;
list-style: none;
}
.barra{
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
.barra:hover{
  font-size: 16px;
}

span{
   color: white;
   font-weight: bold;
   font-size: 21px;
}

#sec-1{
  background-color: #18BC9C;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
   flex-direction: column;
   align-items: center;
   justify-content:center;
   padding: 70px 0;
}
.top::before{
  font-size: 25px;
  color:white;
}
.adorno{
  display: flex;
  position: relative;
  bottom: 35px;
}
.rayita{
  background-color: white;
  width: 130px;
  height: 7px;
  margin: 9px;
}
